html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  max-width: 144rem;
  font-family: "Barlow";
  font-weight: 500;
  line-height: 1.6;
  overflow-x: hidden; }

.container {
  max-width: 100%;
  width: 80%;
  margin-inline: auto; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem; }
  .navigation__btn {
    font-family: "barlow";
    font-size: 1.6rem;
    font-weight: 700;
    width: 17.5rem;
    height: 5.8rem;
    background-color: #e8eff2;
    color: #162542;
    border: none;
    border-radius: 0.8rem;
    text-transform: uppercase; }

.hero-section {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem; }
  .hero-section__image {
    max-width: 54rem;
    border-radius: 1.2rem; }
  .hero-section__header {
    font-weight: 900;
    font-size: 5.6rem;
    line-height: 1;
    max-width: 44rem;
    color: #162542;
    text-transform: uppercase; }
  .hero-section__paragraph {
    max-width: 44rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #7b8bad; }
  .hero-section__button {
    background-color: #f16718;
    border-radius: 0.8rem;
    border: none;
    width: 17rem;
    height: 5.8rem;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    margin-right: 4rem; }
  .hero-section__btn-release {
    display: flex;
    align-items: center; }
  .hero-section__sub {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #7b8bad; }

.section {
  display: flex;
  margin-top: 4rem; }
  .section__image-mob-leptop {
    max-width: 25rem;
    height: 48rem;
    margin-right: 3rem;
    border-radius: 1.2rem; }
  .section__image-glass-leptop {
    max-width: 44rem;
    height: 48rem;
    margin-right: 15rem;
    border-radius: 1.2rem; }
  .section__header-paragraph {
    display: flex;
    flex-direction: column; }
  .section__header {
    max-width: 25.5rem;
    font-size: 3.2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #162542;
    line-height: 1.3; }
  .section__paragraph {
    max-width: 25.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #7b8bad; }

.icon {
  width: 6.5rem;
  height: 6.5rem;
  background: #f16718;
  border-radius: 1.6rem;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .icon__icon {
    margin-top: 2rem; }

.last-section {
  margin-top: 13rem;
  margin-bottom: 12.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 30px; }
  .last-section__header {
    width: 20.5rem;
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1.2;
    color: #162542; }
  .last-section__paragraph {
    width: 25.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #7b8bad; }

.footer {
  font-size: 1.6rem;
  display: flex;
  justify-content: center; }

.bold {
  font-weight: 700; }
