$color-white: #fff;
$color-blue: #162542;
$color-blue-light: #7b8bad;
$color-orange: #f16718;
$color-orange-light: #ff9b62;
$color-grey-light: #e8eff2;

$bp-largest: 75em; //1200
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;

html {
  box-sizing: border-box;

  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 60%;
  }
}

body {
  max-width: 144rem;
  font-family: "Barlow";

  font-weight: 500;
  line-height: 1.6;

  overflow-x: hidden;
}

.container {
  max-width: 100%;

  width: 80%;
  margin-inline: auto;

  @media only screen and (max-width: $bp-large) {
    width: 95%;
  }
}
