.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  &__btn {
    font-family: "barlow";
    font-size: 1.6rem;
    font-weight: 700;
    width: 17.5rem;
    height: 5.8rem;
    background-color: #e8eff2;
    color: $color-blue;
    border: none;
    border-radius: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__btn:hover {
    color: $color-white;
    background-color: $color-blue;
  }
}
// .hero-section__btn-release {
//   display: flex;
// }

.hero-section {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;

  &__image {
    max-width: 54rem;
    border-radius: 1.2rem;

    @media only screen and (max-width: $bp-medium) {
      // width: 100%;
      max-width: 47rem;
      margin-left: 6rem;
    }

    // max-height: 48rem;
  }
  &__header {
    font-weight: 900;
    font-size: 5.6rem;
    line-height: 1;
    max-width: 44rem;
    color: #162542;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-medium) {
      font-size: 4.5rem;
    }
  }

  &__paragraph {
    max-width: 44rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #7b8bad;

    @media only screen and (max-width: $bp-medium) {
      max-width: 33.8rem;
      font-size: 1.6rem;
    }
  }
  &__button {
    background-color: $color-orange;
    border-radius: 0.8rem;
    border: none;
    width: 17rem;
    height: 5.8rem;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    margin-right: 4rem;
    cursor: pointer;
    @media only screen and (max-width: $bp-medium) {
      margin-right: 3rem;
      font-size: 1.4rem;
    }
  }
  &__button:hover {
    background-color: $color-orange-light;
  }

  &__btn-release {
    display: flex;
    align-items: center;
  }
  &__sub {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #7b8bad;

    @media only screen and (max-width: $bp-medium) {
      width: 12.7rem;
    }
  }
}

.section {
  display: flex;
  margin-top: 4rem;

  &__image-mob-leptop {
    max-width: 25rem;
    height: 48rem;
    margin-right: 3rem;
    border-radius: 1.2rem;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      max-width: 21rem;
    }
  }
  &__image-glass-leptop {
    max-width: 44rem;
    height: 48rem;
    margin-right: 15rem;
    border-radius: 1.2rem;
    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      max-width: 44rem;
    }
  }

  &__header-paragraph {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: row;
    }
  }

  &__header {
    max-width: 25.5rem;
    font-size: 3.2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #162542;
    line-height: 1.3;
  }

  &__paragraph {
    max-width: 25.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #7b8bad;
  }
}

.icon {
  width: 6.5rem;
  height: 6.5rem;
  background: #f16718;
  border-radius: 1.6rem;
  text-align: center;
  // align-items: center;
  justify-content: center;
  align-items: center;
  // justify-content: center;

  &__icon {
    margin-top: 2rem;
  }
}

.last-section {
  // margin: 168px 16598px 128px 165px;
  margin-top: 13rem;
  margin-bottom: 12.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  // grid-template-columns: repeat(4, 255px);
  column-gap: 30px;

  &__header {
    width: 20.5rem;
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1.2;
    color: #162542;
  }
  &__paragraph {
    width: 25.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #7b8bad;
  }
}

.footer {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  color: $color-blue-light;
}

.bold {
  font-weight: 700;
}
